<h1>Blogger Index Page</h1>

<%# We need to iterate through all the bloggers and list out their names %>
<ul>

<% @bloggers.each do |blogger| %>
    <li> <%= link_to blogger.name, blogger_path(blogger) %> </li>
<% end %>

</ul>