<h1> <%= "#{@blogger.name}'s Profile Page!"%> </h1>

<h2> Total Likes: <b><%= @blogger.my_total_likes %> </b> </h2>

<h2> Featured Post: <%= link_to @blogger.my_featured_post.title, post_path(@blogger.my_featured_post) %> </h2>

<h2> All my posts: </h2>
<% @blogger.posts.each do |post| %>
    <%= link_to "#{post.title} has #{post.likes} likes", post_path(post.id) %> <br>
<% end %>


